<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-select multiple="false" #MySelect (ionChange)="onChange($event)">
    <ion-option value="All" selected>All Status</ion-option>
    <ion-option value="pending">Pending</ion-option>
    <ion-option value="rejected">Rejected</ion-option>
    <ion-option value="approved">Approved</ion-option>
  </ion-select>
  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)" *ngIf="item.Ebeln">
        <h2>{{item.Ebeln}}</h2>
        <p>Created Date: {{item.Aedat}}</p>
        <p>Created time: {{item.Utime}}</p>
        <p>Net value: {{item.Netwr}}</p>
        <p>Current status: {{item.Status}}</p>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
